@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.HeadlineWithText>
@using Umbraco.Web.Models;
@{
    var image = Model.Value<IPublishedContent>("image");
    var margin = Model.Value<string>("margin");
    var padding = Model.Value<string>("padding");
    var customId = Model.Value<string>("customID");
    var customClass = Model.Value<string>("customClass");
    var alignment = Model.Value<string>("alignment");
}

<div id="@customId" class="@margin @padding @customClass @alignment @(Model.HasValue("backgroundColor") ? $"background-{Model.Value<Umbraco.Core.PropertyEditors.ValueConverters.ColorPickerValueConverter.PickedColor>("backgroundColor").Label}" : string.Empty)">
    @if (image != null)
    {
        <img data-src="@image.Url" src="@image.Url?quality=10" class="img-fluid lazyload" alt="@(image.HasValue("altText") ? $"{@image.Value("altText")}" : $"{@image.Name}")" />
    }

    @{
        var link = Model.Value<Link>("link");
        if (link != null)
        {
            <h3><a href="@link.Url" target="@link.Target">@Html.Raw(Model.Value("headline"))</a></h3>
        }
        else
        {
            <h3> @(Model.Value("headline")) </h3>
        }
    }

    @if (Model.HasValue("description"))
    {
        <div>@(Model.Value<IHtmlString>("description"))</div>
    }
</div>
